In [1]:
# Column Transformer ===> Countainer ===> We put all the steps of our project.
# Column Transformer ('constant','Approach_name','Column_name')

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
# columns ===>
#Numerical data===> Missing values ==> fill(SimpleImputer) ===> training data
# Categorical data ===> Missing values ==> fill(SimpleImputer) ===> training data.
#All columns data ===> combined ===> Check data shape.

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2,random_state = 42)

In [10]:
#Manually type output

In [11]:
x_train.head(4)

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata
26   19  Female  100.0  Mild  Kolkata
42   27    Male  100.0  Mild    Delhi

In [12]:
#adding simple imputer to fever column
si = SimpleImputer(strategy = 'mean')
x_train_fever = si.fit_transform(x_train[['fever']])

#also the test data 
x_test_fever = si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [13]:
# Ordinal Encoding --> Cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [14]:
# OneHotEncoding --> Gender , city

ohe = OneHotEncoder(drop = 'first' , sparse = False )
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])

x_train_gender_city.shape

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'sparse'

In [ ]:
# Extracting Age

x_train_age = x_train.drop(columns =
                           ['gender' , 'fever' , 'cough' , 'city']).values

# also the test data

x_test_age = x_test.drop(columns =
                         ['gender' , 'fever' , 'cough' , 'city']).values

In [ ]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
                                      x_train_gender_city ,
                                      x_train_cough) , axis = 1)