In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("placement.csv")
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [5]:
# Normalization ===> Data range(0 to 1)

In [7]:
x = df.drop(columns =['placed'])   ###output columns 
y = df['placed']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2,random_state = 42)

In [10]:
np.round(x_train.describe(), 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [15]:
from  sklearn.preprocessing import MinMaxScaler

In [16]:
mn = MinMaxScaler()

In [19]:
   x_train_sc = mn.fit_transform(x_train)   ### fit  means learn the parameter and transform means apply on data.

In [20]:
x_train_new = pd.DataFrame(x_train_sc, columns = x_train.columns)
x_train_new

        cgpa  resume_score
0   0.413366      0.467153
1   0.693069      0.272506
2   0.247525      0.369830
3   0.403465      0.476886
4   0.690594      1.000000
..       ...           ...
75  0.148515      0.411192
76  0.512376      0.795620
77  0.554455      0.316302
78  0.039604      0.299270
79  0.314356      0.593674

[80 rows x 2 columns]

In [23]:
 np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00

In [24]:
# Encoding===> Transform our categorical data into numerical data.

In [26]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [27]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [29]:
from sklearn.impute import SimpleImputer  #we can fill missing values.

In [31]:
si = SimpleImputer(strategy = 'mean')

In [33]:
df['fever'] = si.fit_transform(df[['fever']])

In [34]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [35]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [36]:
# LabelEncoding===>

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
lb = LabelEncoder()

In [40]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [41]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [42]:
# OrdinalEncoder ===>

In [43]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [47]:
df= df.dropna()  ### using this method we can drop the missing values

In [48]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [50]:
df = df.drop(columns =['age' , 'fever', 'city'])
df.head(3)

  gender cough has_covid
0   Male  Mild        No
1   Male  Mild       Yes
2   Male  Mild        No

In [51]:
from  sklearn.preprocessing import OrdinalEncoder

In [52]:
oe = OrdinalEncoder(categories = [['Male','Female'],
                                 ['Mild','Strong'],
                                 ['No','Yes']])

In [54]:
x_sc =oe.fit_transform(df)

In [55]:
df_new = pd.DataFrame(x_sc , columns = df.columns)
df_new.head(3)

   gender  cough  has_covid
0     0.0    0.0        0.0
1     0.0    0.0        1.0
2     0.0    0.0        0.0

In [ ]:
# (3). OneHotEncoder ====>
# gender['Male' , 'Female'] ===> new columns ==> first_column ('Male') , second_column('Female')
# It will convert column's sub-categories into a new column .

In [57]:
df = pd.read_csv("covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [58]:
df = df.drop(columns = ['age' , 'fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [59]:
from sklearn.preprocessing import OneHotEncoder

In [60]:
ohe = OneHotEncoder(drop = 'first' , sparse_output = False , dtype = np.int32)

In [61]:
df_new = ohe.fit_transform(df[['gender' , 'cough' , 'city' , 'has_covid']])

In [62]:
df_new_2 = pd.DataFrame(df_new)

In [63]:
df_new_2

    0  1  2  3  4  5
0   1  0  0  1  0  0
1   1  0  1  0  0  1
2   1  0  1  0  0  0
3   0  0  0  1  0  0
4   0  0  0  0  1  0
.. .. .. .. .. .. ..
95  0  0  0  0  0  0
96  0  1  0  1  0  1
97  0  0  0  0  0  0
98  0  1  0  0  1  0
99  0  1  0  1  0  1

[100 rows x 6 columns]

In [64]:
df.shape

(100, 4)

In [65]:
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [66]:
# gender ===>  f
# cough ===>  s
# c  ===> m,b,k
# has_covid ====>  y