In [48]:
# Data===> INput(X),Targrt(Y)

#Input(x) ===> X_train ,X_test
#Input(y) ===> Y_train,Y_test

In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("placement.csv")

In [51]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [52]:
df.shape

(100, 3)

In [53]:
x =df.drop(columns =['placed'] )   #Input columns
y = df['placed']    # Target Coulumns

In [54]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ks761\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ks761\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ks761\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ks761\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ks761\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state = 42)

In [57]:
# test_size = 0.2 ===> 20% test and 80% data training

# random_state ===> data create fix .

In [58]:
# Population = DF
# Sample = x_train , x_test , y_train , y_test

In [59]:
x_train.head(3)

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47

In [60]:
x_test.head(3)

    cgpa  resume_score
83  7.60          8.08
53  6.00          7.16
70  7.12          7.41

In [61]:
y_train.head(3)

55    1
88    1
26    0
Name: placed, dtype: int64

In [62]:
y_test.head(3)

83    1
53    0
70    1
Name: placed, dtype: int64

In [63]:
print(" Total data shape :" ,df.shape)
print(" input data shape :" ,x.shape)
print(" input data shape :" ,x_train.shape)
print(" input data shape : ",x_test.shape)

print(" Target data shape :" ,y.shape)
print(" Target data shape :" ,y_train.shape)
print(" Target data shape :" ,y_test.shape)

 Total data shape : (100, 3)
 input data shape : (100, 2)
 input data shape : (80, 2)
 input data shape :  (20, 2)
 Target data shape : (100,)
 Target data shape : (80,)
 Target data shape : (20,)

In [64]:
# df(100,3) = x(100,2) + y(100,1)

# x(100,2) ====> x_train(80,2) + x_test(20,2)
# y(100,1) ====> y_trin(80,1) + y_test(20,1)

In [65]:
#standardization ====> Mean =0, standard deviation =1===> data normal distribution converst===> calculation easy

In [66]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [67]:
from  sklearn.preprocessing import StandardScaler

In [68]:
sc = StandardScaler()

In [69]:
x_train_sc = sc.fit_transform(x_train)   ### fit means learn the parameter and transform means evaluate on data .

In [70]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [71]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

In [72]:
tips = pd.read_csv("tips.csv")

In [73]:
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [74]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [75]:
tips['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [76]:
tips['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [77]:
tips['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [78]:
tips['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [79]:
tips['smoker'] = tips['smoker'].map({"No":0 ,"Yes":1})
tips['day'] = tips['day'].map({"Sat":0 ,"Sun":1,"Thur":3,"Fri":4})
tips['time'] = tips['time'].map({"Dinner":0 ,"Lunch":1})

In [80]:
tips.head(3)

   total_bill   tip     sex  smoker  day  time  size
0       16.99  1.01  Female       0    1     0     2
1       10.34  1.66    Male       0    1     0     3
2       21.01  3.50    Male       0    1     0     3

In [81]:
tips = tips.drop(columns = ['sex'])

In [82]:
x = tips.drop(columns = ['total_bill'] )
y = tips['total_bill']

In [83]:
from  sklearn.model_selection import train_test_split

In [84]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [85]:
np.round(x_train.describe(), 2)

          tip  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00
mean     3.09    0.38    1.38    0.27    2.57
std      1.43    0.49    1.40    0.45    0.94
min      1.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    0.00    2.00
50%      3.00    0.00    1.00    0.00    2.00
75%      3.70    1.00    3.00    1.00    3.00
max     10.00    1.00    4.00    1.00    6.00

In [86]:
from  sklearn.preprocessing import StandardScaler

In [87]:
sc = StandardScaler()

In [88]:
x_train_sc = sc.fit_transform(x_train)

In [89]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [90]:
# type(x_train_new)

In [91]:
x_train.shape

(195, 5)

In [92]:
x_test.shape

(49, 5)

In [93]:
np.round(x_train_new.describe(), 2)

          tip  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00
mean    -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00
min     -1.46   -0.79   -0.99   -0.61   -1.68
25%     -0.76   -0.79   -0.99   -0.61   -0.61
50%     -0.06   -0.79   -0.27   -0.61   -0.61
75%      0.43    1.26    1.15    1.64    0.45
max      4.85    1.26    1.87    1.64    3.65

# Tips data split

In [94]:
x =tips.drop(columns =['tip'] )
y = tips['tip']

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size =0.2,random_state = 42)

In [97]:
print(" Total data shape :" ,tips.shape)
print(" input data shape :" ,x.shape)
print(" input data shape :" ,x_train.shape)
print(" input data shape : ",x_test.shape)

print(" Target data shape :" ,y.shape)
print(" Target data shape :" ,y_train.shape)
print(" Target data shape :" ,y_test.shape)

 Total data shape : (244, 6)
 input data shape : (244, 5)
 input data shape : (195, 5)
 input data shape :  (49, 5)
 Target data shape : (244,)
 Target data shape : (195,)
 Target data shape : (49,)

# titanic data split

In [98]:
titanic = pd.read_csv("titanic.csv")

In [99]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q